.container-fluid{
  height: 100vh;
  background-image: url(../../../assets/img/foto2.png);
  background-size: cover;
  }

  .container-login{
  background-color: rgba(0, 0, 0, 0.708);
  width: 25%;
  }

.btn{
  background-color: #da3234;
  width: 100%;

}

.registrati{
  color: white;
  text-decoration: none;
}
