.container-fluid {
  height: 100vh;
  background-image: url(../../../assets/img/foto2.png);
  background-size: cover;
}

.container-login {
  background-color: rgba(0, 0, 0, 0.708);
  /* width: 70%; */
}

.btn {
  background-color: #da3234;
  width: 100%;
}

.registrati {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1024px) { //al di sotto di
  .container-login {
    width: 70%;
  }
}

@media screen and (min-width: 1023px) { //al di sopra di
  .container-login {
    width: 40%;
  }
}

