<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../assets/img/Colorato Minimalista Arte Logo (400 × 400 px).png"
        style="width: 150px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/eat']">EAT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/play']">PLAY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/relax']">RELAX</a>
        </li>
      </ul>
      <!-- Questo si dovrà vedere solo senza login ⬇️ -->
      <ng-template #btnLogin>
      <i class="bi bi-person-circle icon-user me-2"></i>
      <a class="btn btn-login" [routerLink]="['/login']" role="button">Login</a>
      </ng-template>
      <!-- Questo si dovrà vedere solo dopo aver fatto il login ⬇️ -->
      <ng-container *ngIf="isUtenteLoggato(); else btnLogin">
      <i class="bi bi-person-circle icon-user me-2"></i>
      <button (click)="logout()" class="btn btn-danger" type="submit">Logout</button>
      </ng-container>
    </div>
  </div>
</nav>
