.container-fluid{
  height: 100vh;
  background-image: url(../../../assets/img/foto2.png);
  background-size: cover;
  }

  .container-register{
  background-color: rgba(0, 0, 0, 0.708);
  }

.btn{
  background-color: #e50914;
  width: 100%;

}

.registrati{
  color: white;
  text-decoration: none;
}


// MEDIA QUERY
@media screen and (max-width: 1024px) { //al di sotto di
  .container-register {
    width: 70%;
  }
}

@media screen and (min-width: 1023px) { //al di sopra di
  .container-register {
    width: 40%;
  }
}
