<!-- TABELLA AGGIUNGI ESPERIENZE -->
<!-- apparirà solo un modalità admin -->
<app-table-add></app-table-add>

<!-- BANNER CON VIDEO -->
<div class="container-fluid mt-3 contenitore-video">
  <video src="../../../assets/video/play.mp4" class="object-fit-cover" autoplay loop></video>
  <div class="container-titolo">
    <h1 class="text-light">La tua avventura inizia qui</h1>
  </div>
</div>

<!-- ESCURSIONI -->
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-lg-3 col-md-4 col-sm-6 pt-3" *ngFor="let esperienza of esperienzeFiltrate">
      <!-- Inizio card -->
      <div class="card h-100 card-focus">
        <div class="position-relative">

          <!-- ⚙️modalità modifica per il Immagine e Prezzo -->
          <ng-container *ngIf="modifica===esperienza.key; else cardCompleta">
            <div class="form-floating ms-1 mt-1 me-1 mb-2">
              <input type="url" class="form-control w-100" [(ngModel)]="esperienza.immagine">
              <label>Immagine</label>
            </div>
            <div class="form-floating ms-1 mt-1 me-1 mb-2">
              <input type="number" class="form-control w-100" [(ngModel)]="esperienza.prezzo">
              <label>Prezzo</label>
            </div>
            <div class="form-floating ms-1 mt-1 me-1 mb-2">
              <input type="text" class="form-control w-100" [(ngModel)]="esperienza.sottotitolo">
              <label>Sottotitolo</label>
            </div>
            <div class="form-floating ms-1 mt-1 me-1 mb-2">
              <input type="text" class="form-control w-100" [(ngModel)]="esperienza.titolo">
              <label>Titolo</label>
            </div>
            <div class="form-floating ms-1 mt-1 me-1 mb-2">
              <input type="text" class="form-control w-100" [(ngModel)]="esperienza.descrizione">
              <label>Descrizione</label>
            </div>
            <select class="form-select ms-1 me-1 mb-2" aria-label="Default select example" [(ngModel)]="esperienza.genere">
              <option selected>Seleziona il genere</option>
              <option value="eat">eat</option>
              <option value="play">play</option>
              <option value="relax">relax</option>
            </select>
            <button (click)="modificaEsperienza(esperienza.key, esperienza); modifica=null"
              class="btn btn-secondary ms-1">Salva modifica</button>
          </ng-container>
          <!-- fino a qui ↖️ -->
          <ng-template #cardCompleta>
            <img src="{{ esperienza.immagine }}" class="card-img-top immagini-card" alt="..." />

            <div
              class="position-absolute d-flex justify-content-center align-items-center rounded-start prezzo-esperienza">
              <h5 class="m-0">
                <b>€{{ esperienza.prezzo }}</b>
              </h5>
            </div>
          </ng-template>
        </div>

        <div class="card-body" *ngIf="modifica != esperienza.key">
          <p class="sottotitolo-card fw-semibold rounded">{{esperienza.sottotitolo}}</p>
          <h5 class="card-title">{{ esperienza.titolo }}</h5>
          <p class="card-text truncate-text">{{ esperienza.descrizione }}</p>
          <div class="d-flex flex-column">
            <div class="mb-1">
              <!-- button Scopri di più! -->
              <a class="btn btn-primary" [routerLink]="['/info-esperienza', esperienza.key]" role="button">Scopri di più</a>
            </div>
            <div>
              <!-- button elimina e modifica -->
              <button *ngIf="authSrv.isAdmin()" (click)="eliminaEsperienza(esperienza.key)" type="button"
                class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i> Elimina
              </button>
              <button *ngIf="authSrv.isAdmin()" (click)="modifica = esperienza.key" type="button"
                class="btn btn-secondary btn-sm ms-1">
                <i class="bi bi-gear"></i> Modifica
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Fine card 🛑 -->
  </div>
</div>
