<div *ngFor="let esperienza of esperienze">
  <h2>{{esperienza.titolo}}</h2>
  <!-- QUESTO APPARE SOLO IN MODALITÀ MODIFICA! -->
  <div *ngIf="modifica===esperienza.key">
    <input [(ngModel)]="esperienza.titolo">
    <button (click)="modificaEsperienza(esperienza.key, esperienza); modifica=null">Salva modifica</button>
  </div>
  <!-- fino a qui ⬆️ -->
  <p>{{esperienza.descrizione}}</p>
  <img src="{{esperienza.immagine}}" style="width: 100px;">
  <!-- bottone elimina ⬇️ -->
  <button (click)="eliminaEsperienza(esperienza.key)">Elimina</button>
  <!-- bottone modifica ⬇️ -->
  <button *ngIf="modifica != esperienza.key" (click)="modifica=esperienza.key">Modifica</button>
</div>


<!-- FORM -->
<form (ngSubmit)="addEsperienza()">
  <div>
    <label for="titolo">Titolo</label>
    <input type="text" id="titolo" name="titolo" [(ngModel)]="esperienza.titolo" required>
  </div>
  <div>
    <label for="descrizione">Descrizione</label>
    <textarea id="descrizione" name="descrizione" [(ngModel)]="esperienza.descrizione" required></textarea>
  </div>
  <div>
    <label for="immagine">Immagine</label>
    <input type="text" id="immagine" name="immagine" [(ngModel)]="esperienza.immagine" required>
  </div>
  <button type="submit">Aggiungi Esperienza</button>
</form>
