<!-- TABELLA AGGIUNGI ESPERIENZE -->
<!-- apparirà solo un modalità admin -->
<div class="container-fluid pb-2 border-bottom">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Immagine</b></p>
      <input type="text" id="immagine" name="immagine" [(ngModel)]="esperienza.immagine" required />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Titolo</b></p>
      <input type="text" id="titolo" name="titolo" [(ngModel)]="esperienza.titolo" required />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Sottotitolo</b></p>
      <input type="text" id="sottotitolo" name="sottotitolo" [(ngModel)]="esperienza.sottotitolo" required />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Descrizione</b></p>
      <input type="text" id="descrizione" name="descrizione" [(ngModel)]="esperienza.descrizione" required />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Genere</b></p>
      <!-- <input type="text" id="genere" name="genere" [(ngModel)]="esperienza.genere" required /> -->
      <select class="select-genere" [(ngModel)]="esperienza.genere">
        <option value="eat">eat</option>
        <option value="play">play</option>
        <option value="relax">relax</option>
      </select>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Approfondimenti</b></p>
      <input type="text" id="approfondimenti" name="approfondimenti" [(ngModel)]="esperienza.approfondimenti"
        required />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Prezzo</b></p>
      <input type="number" id="prezzo" name="prezzo" [(ngModel)]="esperienza.prezzo" required />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2 d-flex align-items-end">
      <button (click)="addEsperienza()" type="button" class="btn btn-sm text-light btn-addEsperienza">
        Aggiungi Esperienza
      </button>
    </div>
  </div>
</div>

<!-- BANNER CON VIDEO -->
<div class="container-fluid mt-3 contenitore-video">
  <video src="../../../assets/video/relax.mp4" class="object-fit-cover" autoplay loop></video>
  <div class="container-titolo">
    <h1 class="text-light">Spiaggie da sogno, calette ed acque turchesi, senza contare il mare degli arcipelaghi
    </h1>
  </div>
</div>


<!-- SPIAGGIE -->
<div class="container-fluid mt-3">
  <div class="row">
    <div *ngFor="let esperienza of esperienzeFiltrate" class="col-sm-12 col-md-6 col-xxl-3 pt-3">
      <!-- inizio card -->
      <div class="card h-100">

        <!-- ⚙️modalità modifica per la card -->
        <ng-container *ngIf="modifica===esperienza.key; else cardCompleta">
          <div class="form-floating ms-1 me-1 mt-1 mb-2">
            <input type="url" class="form-control w-100" [(ngModel)]="esperienza.immagine">
            <label>Immagine</label>
          </div>
          <div class="form-floating ms-1 me-1 mt-1 mb-2">
            <input type="text" class="form-control w-100" [(ngModel)]="esperienza.titolo">
            <label>Titolo</label>
          </div>
          <div class="form-floating ms-1 me-1 mt-1 mb-2">
            <input type="text" class="form-control w-100" [(ngModel)]="esperienza.descrizione">
            <label>Descrizione</label>
          </div>
          <div class="form-floating ms-1 me-1 mt-1 mb-2">
            <input type="text" class="form-control w-100" [(ngModel)]="esperienza.approfondimenti">
            <label>Approfondimenti</label>

          </div>
          <select class="form-select ms-1 mb-2" aria-label="Default select example" [(ngModel)]="esperienza.genere">
            <option selected>Seleziona il genere</option>
            <option value="eat">eat</option>
            <option value="play">play</option>
            <option value="relax">relax</option>
          </select>
          <button (click)="modificaEsperienza(esperienza.key, esperienza); modifica=null"
            class="btn btn-secondary ms-1 me-1 btn-salvaMofifica">Salva modifica
          </button>
        </ng-container>
        <!-- fino a qui ↖️ -->

        <ng-template #cardCompleta>
          <img src="{{esperienza.immagine}}" class="card-img-top immagini-spiaggie" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{esperienza.titolo}}</h5>
            <p class="card-text">{{esperienza.descrizione}}</p>
            <a class="btn btn-primary" href="{{esperienza.approfondimenti}}" target="_blank" role="button"><i
                class="bi bi-geo-alt-fill"></i> Indicazioni</a>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>

            <!--button elimina e modifica -->
            <button (click)="eliminaEsperienza(esperienza.key)" type="button" class="btn btn-danger btn-sm">
              <i class="bi bi-trash"></i> Elimina
            </button>
            <button *ngIf="modifica != esperienza.key" (click)="modifica = esperienza.key" type="button"
              class="btn btn-secondary btn-sm ms-1">
              <i class="bi bi-gear"></i> Modifica
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
