.btn-addEsperienza {
  background-color: #cb3234;
}

.contenitore-video{
  margin: 2em 0 0 0;
  padding: 0;
  width: 100%;
  height: 25rem;

}
.contenitore-video video{
  width: 100%;
  height: 100%;
}
