<!-- TABELLA AGGIUNGI ESPERIENZE -->
<!-- apparirà solo un modalità admin -->
<div class="container-fluid pb-2 border-bottom">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Immagine</b></p>
        <input type="text" id="immagine" name="immagine" [(ngModel)]="esperienza.immagine" required />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Titolo</b></p>
      <input type="text" id="titolo" name="titolo" [(ngModel)]="esperienza.titolo" required />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Sottotitolo</b></p>
      <input type="text" id="sottotitolo" name="sottotitolo" [(ngModel)]="esperienza.sottotitolo" required />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Descrizione</b></p>
      <input type="text" id="descrizione" name="descrizione" [(ngModel)]="esperienza.descrizione" required />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Genere</b></p>
      <input type="text" id="genere" name="genere" [(ngModel)]="esperienza.genere" required />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Approfondimenti</b></p>
      <input type="text" id="approfondimenti" name="approfondimenti" [(ngModel)]="esperienza.approfondimenti" required />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
      <p class="mb-0"><b>Prezzo</b></p>
      <input type="number" id="prezzo" name="prezzo" [(ngModel)]="esperienza.prezzo" required />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-2 d-flex align-items-end">
      <button (click)="addEsperienza()" type="button" class="btn btn-sm text-light btn-addEsperienza">
        Aggiungi Esperienza
      </button>
    </div>
  </div>
</div>

<!-- BANNER CON VIDEO -->
<div class="container-fluid mt-3 contenitore-video">
  <video src="../../../assets/video/relax.mp4" class="object-fit-cover" autoplay loop></video>
  <div class="container-titolo">
    <h1 class="text-light"><b>Spiaggie da sogno, calette ed acque turchesi, senza contare il mare degli aripelaghi</b></h1>
  </div>
</div>
